lib-cov

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*.tags*

*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids



# Folders to ignore for this project
imgstorage
uploadimage


# Node Files Logs ignore
npm-debug.log
node_modules
app/node_modules



# Sass cache
.sass-cache


# Version control
.hg
.svn
.CVS

# Mac Files ignore
.DS_Store


# Windows Files ignore
Thumbs.db


# IDE Webstorm Files ignore
*.idea*


# Editor folders
.project
.settings
.tmproj
*.esproj
nbproject


# Visual Studio 2013
marksimos.sln
marksimos.v12.suo

# Dreamweaver added files
_notes
dwsync.xml



# Komodo
*.komodoproject
.komodotools
