.loginbox {
    width: 800px;

    h1 {
        text-align: left;
        margin: 30px 10px;
    }

    .signup_title {
        padding: 50px 0px 0px 0px;
    }

    .nopadding {
        padding-left: 0px;
    }
}
